
CVS/
Entries
Entries.Extra
Entries.Extra.Old
Entries.Old
Repository
Root
shit
Tag
Template

prj/codeblocks/obj/*
prj/codeblocks/bin/*
prj/codeblocks/log/*
prj/codeblocks/stress_log/*
prj/codeblocks/report/*.xml
prj/codeblocks/nandfile/*.bin
prj/codeblocks/OUTPUT_SLOT0_L04A.img
prj/codeblocks/OUTPUT_SLOT0_L06B.img

*.o
*.d
*.obj
*.log
*.bin
*.gch
*.depend
*.layout
*.map
*.swp
*.save
*.save-failed
*.dll
*.hcf
*.yaml
*.Old
~*
.#*
Thumbs.db
go.exe

